.animating-screen {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
}

.hello-text {
  font-size: 3rem;
  opacity: 0;
}

.appear-active .hello-text  {
  opacity: 1;
  transition: opacity 1.5s;
}

.exit .hello-text, .enter-done .hello-text {
  opacity: 1;
}

.exit-active .hello-text {
  opacity: 0;
  transition: opacity 1.5s;
}

.animating-screen.exit-active {
  opacity: 0;
  transition: opacity 1s linear 1.5s;
}

.animating-screen.exit-done {
  opacity: 0;
}

.chat {
  min-height: 500px;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
}

.chat__sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 320px;
  border-right: 1px solid var(--border-color);
}

.sidebar__header {
  border-bottom: 1px solid var(--border-color);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
}

.sidebar__username {
  font-size: 1.3rem;
}

.sidebar__username-tag {
  color: #a716a8;
  font-weight: 500;
  font-size: 1.1rem;
}

.sidebar__chats {
  flex: 1 1 1px;
  overflow-y: auto;
}

.chat__main {
  display: flex;
  flex-direction: column;
  flex: 4;
  height: auto;
  min-width: 500px;
}

.chat__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

.selected-chat__main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.selected-chat__form {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  align-items: center;
}

.selected-chat__input {
  width: 100%;
  resize: none;
  border: 0;
  background: 0;
  outline: 0;
  color: white;
  font-size: 1rem;
}

.selected-chat__header {
  height: 5.5rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

.selected-chat__messages {
  flex: 1 1 1px;
  padding: 1rem 3rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.selected-chat__info {
  display: flex;
  flex-direction: column;
}

.selected-chat_username {
  font-weight: 500;
  font-size: 1.1rem;
}

.selected-chat__status{
  font-size: 0.9rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6)
}

.message {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;
  align-items: flex-start;
  white-space: pre-line;
}

.message.self {
  align-items: flex-end;
}

.message__bubble {
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  background: #784ba0;
  display: flex;
  gap: 0.5rem;

}

.message__bubble-text {
  word-break: break-all;
}

.self .message__bubble {
  background: #a716a8;
}

.message__bubble.pending,
.message__bubble.error {
  opacity: 0.6;
}

.message__retry-btn {
  margin-top: 6px;
  background: 0;
  outline: 0;
  border: 0;
  color: #c93333;
  padding: 0;
  cursor: pointer;
  font-size: 0.92rem;
  font-weight: 500;
}

.message__date {
  margin-top: 0.4rem;
  align-self: flex-end;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
}
