.initial-screen {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-input {
  border: 0;
  /* padding: 1rem; */
  font-size: 3.5rem;
  background: 0;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  outline: 0;
  padding: 0;
}

.username-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.help-text {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  margin-top: 1rem;
  transition: all 0.2s;
}

.help-text.hidden {
  opacity: 0;
}
